body {
  font-family: sans-serif;
    color: white;
    background-color: black;
    }
    h1 { font-size: 40px;}
    p {font-size: 20px;}
section {
  background: pink;
  padding-bottom: 80px;
  padding-top: 80px;
  display: flex;
  justify-content: center;
}
  .chamada-texto {
    margin-right: 20px;
}
section {
  padding-left: 20px;
  padding-right: 20px;
  background: violet
}
