body {
    color: white;
    background-color: black;
}
section {
  background: pink;
  padding-bottom: 80px;
  padding-top: 80px;
  display: flex;
  justify-content: center;
}
  .chamada-texto {
    margin-right: 20px;
}
section {
  padding-left: 20px;
  padding-right: 20px;
  background: violet
}
